*{
    font-family: "Kanit", sans-serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:EEEDEB;
}

.container{
    height: fit-content;
    max-width: 100%;
    width: 540px;
    background-color:E6B9A6;
    padding:50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    
}

/* .container h1{
    display: flex;
    justify-content: center;
}


.one{
    display: flex;
    justify-content: center;
} */

/* #list-container{
    display: flex;

} */
button{
    background-color: 2F3645;
    border: none;
    outline: none;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 30px;
    
}
input{
    background-color: transparent;
    padding: 10px;
    
    
}
#value{
    border-radius: 5px;
    /* margin: 2px; */
}